html {
  text-align: center;
  font-family: Helvetica; sans-serif;
}

.nav {
  background-image: url("../../resources/images/the-flatiron-building.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

.nav a {
  font-size: 18px;
  color: white;
}

.process h2 {
  font-size: 32px;
  font-weight: bold;
}

.process h3 {
  font-size: 23px;
  font-weight: bold;
}

.process p {
  font-size: 14px;
}


.designed {
  font-size: 23px;
  font-weight: bold;
  color: white;
  background-image: url("../../resources/images/the-flatiron-building.png");
  background-size: auto;
  background-repeat: no-repeat;

}
